{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!--Pushes the content down-->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div> 
{% endblock %}

{% block content %}
<div class="container slogan-container">
    <div class="row">
        <div class="col">
            <h2 class="display-4 text-white slogan-font-size blink mt-5">
                Take care of your body. It's the only place you have to live!
            </h2>        
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active font-weight-bold text-white" aria-current="page">Free Membership!</li>
                </ol> 
            </nav>
        </div>
        <div class="col-sm-6">
            <a class="reviews-btn btn rounded-0 text-white bg-blue hover-red font-weight-bold" href="{% url 'reviews' %}">Customer Reviews</a>
        </div>
   </div>            
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
// Mekes slogan to blink
 setInterval(function() {
   $('.blink').fadeOut('slow', function () {
        $(this).fadeIn('slow', function () {
    });
    });
}, 2000);
</script>
{% endblock %}