{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="font-do-hyeon text-black">Checkout</h2>
            <hr class="bg-light"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 order-2 order-md-1">
            <p class="font-ubunto order-form-text text-black">Please fill out the form to complete the order</p>
            <form action="{% url 'checkout' %}" method="POST" id="order-payment-form">
                {% csrf_token %}
                <fieldset class="pr-3 mb-3">
                    <legend class="fieldset-label w-auto text-black"><h5>Personal Details</h5></legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}                
                </fieldset>
                <fieldset class="pr-3 mb-3">
                    <legend class="fieldset-label w-auto text-black"><h5>Delivery Details</h5></legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                </fieldset>
                <fieldset class="pr-3">
                    <legend class="fieldset-label w-auto text-black"><h5>Payment</h5></legend>
                    <!-- Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Following div will be used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>
            
            </form>
        </div>
        <div class="col-sm-12 col-md-6 order-md-last order-1 order-md-2">
            <h4 class="font-ubunto text-black"><strong>Order Summary</strong></h4>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}



