{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="font-do-hyeon text-black">Checkout</h2>
            <hr class="bg-light"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 order-2 order-md-1">
            <p class="font-ubunto order-form-text text-black">Please fill out the form to complete the order</p>
            <form action="{% url 'checkout' %}" method="POST" id="order-payment-form">
                {% csrf_token %}
                <fieldset class="pr-3 mb-3">
                    <legend class="fieldset-label w-auto text-black"><h5>Personal Details</h5></legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}                
                </fieldset>
                <fieldset class="pr-3 mb-3">
                    <legend class="fieldset-label w-auto text-black"><h5>Delivery Details</h5></legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                </fieldset>
                <fieldset class="pr-3">
                    <legend class="fieldset-label w-auto text-black"><h5>Payment</h5></legend>
                    <!-- Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Following div will be used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>
                <div class="mt-5 mb-3 pr-3 text-right">
                <a href="{% url 'view_cart' %}" class="order-form-btn btn text-black bg-light border-line rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>Adjust Cart</a>
                <button class="order-form-btn btn bg-black text-white rounded-0">
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>Complete Order</button>
                    <p class="small text-red my-0">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>€{{ total|floatformat:2 }}</strong></span>
					</p>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-6 order-md-last order-1 order-md-2">
            <h4 class="font-ubunto text-black"><strong>Order Summary</strong></h4>
            <div class=" pl-3 pr-3 border-black order-summary mb-3">
                <div class="row">
                    <div class="col-6 offset-3 text-black">
                        <p class="mt-1">Items</p>
                    </div>
                    <div class="col-3 pl-0 text-black">
                        <p class="mt-1">Subtotal</p>
                    </div>
                </div>
                {% for item in cart_items.merchandise_items %}
                        <div class="row my-1">
                            <div class="col-3 mb-1">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    {% if item.product.image %}
                                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-6">
                                <p class="my-0 text-black"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-3 text-black ">
                            <p>€{{ item.product_price }}</p>
                            </div>
                        </div>
                {% endfor %}
                {% for item in cart_items.exercise_items %}
                    <div class="row my-1">
                        <div class="col-3 mb-1">
                        <p class="text-black">Exercise Plan</p>    
                        </div>
                        <div class="col-6">
                            <p class="my-0 text-black"><strong>{{ item.exercise.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-black ">
                        <p>€{{ item.exercise_price }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% for item in cart_items.nutrition_items %}
                    <div class="row my-1">
                        <div class="col-3 mb-1">
                        <p class="text-black">Nutrition Plan</p>    
                        </div>
                        <div class="col-6">
                            <p class="my-0 text-black"><strong>{{ item.nutrition.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-black ">
                        <p>€{{ item.nutrition_price }}</p>
                        </div>
                    </div>
                {% endfor %}                
            </div>
            <div class="row text-right my-3">
                <div class="col">
                    <p class="text-black"><strong>Grand Total:</strong> €{{ total|floatformat:2 }}</p>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}



