{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
<!--Link to the CSS file in checkout app-->
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %} 

{% block page_header %}
<!--Pushes the content down-->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 

{% block content %}
<!--Hides the background image and makes background white-->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="font-do-hyeon text-blue"><i class="far fa-check-circle"></i> Thank You for your Purchase</h2>
            <hr class="bg-light" />
            <p class="text-blue">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="offset-xs-0 offset-sm-3">
        <!--Order detail section-->
        <h4 class="text-blue text-left font-do-hyeon">Order Details</h4>
        <hr class="w-25 bg-light ml-0" />
        <div class="row">
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">Order Number</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue order-font">{{ order.order_number }}</p>
            </div>
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue pr-3 font-weight-bold">Order Date</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.date }}</p>
            </div>
            <!--For loop to render merchandise-products -->
            {% for item in order.productlineitem_set.all %}
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue pr-3 font-weight-bold">{{ item.product.name }}</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ item.quantity }} x €{{ item.product.price }} / Item</p>
            </div>
            {% endfor %} 
            <!--For loop to render fitness-exercise plans -->
            {% for item in order.exerciselineitem_set.all %}
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue pr-3 font-weight-bold">{{ item.product.name }}</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ item.quantity }} x €{{ item.product.price }} / Item</p>
            </div>
            {% endfor %} 
            <!--For loop to render nutrition-nutrition plans -->
            {% for item in order.nutritionlineitem_set.all %}
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue pr-3 font-weight-bold">{{ item.product.name }}</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ item.quantity }} x €{{ item.product.price }} / Item</p>
            </div>
            {% endfor %}
        </div>
        <!--Order shipping section-->
        <h4 class="text-blue text-left mt-3 font-do-hyeon">Shipping Details</h4>
        <hr class="w-25 bg-light ml-0" />
        <div class="row">
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">Full Name</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.full_name }}</p>
            </div>
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">Address</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.street_address1 }}</p>
            </div>
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">City</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.town_or_city }}</p>
            </div>
            <!--If statement to render county if added by user-->
            {% if order.county %}
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">County</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.county }}</p>
            </div>
            {% endif %} 
            <!--If statement to render postcode if added by user-->
            {% if order.postcode %}
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">Post Code</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.postcode }}</p>
            </div>
            {% endif %}
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">Country</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.country }}</p>
            </div>
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">Phone Number</p>
            </div>
            <div class="col-12 col-sm-8">
                <p class="mb-0 text-blue">{{ order.phone_number }}</p>
            </div>
        </div>
        <!--Billing info section-->
        <h4 class="text-blue text-left mt-3 font-do-hyeon">Billing Info</h4>
        <hr class="w-25 bg-light ml-0" />
        <div class="row">
            <div class="col-12 col-sm-4">
                <p class="mb-0 text-blue font-weight-bold">Amount Paid</p>
            </div>
            <div class="col-12 col-sm-8 mb-1">
                <p class="mb-0 text-blue font-weight-bold">€{{ order.order_total }}</p>
            </div>
        </div>
        <hr class="w-25 bg-light ml-0" />
        <div class="row">
            <div class="col">
                <!--If statement to render Home & My Orders buttons if user is viewing this page from profile-->
                {% if from_profile %}
                <a href="{% url 'home' %}" class="btn rounded-0 mt-1 mb-3 bg-blue text-white btn-small hover-red">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Home</span>
                </a>
                <a href="{% url 'order_history' %}" class="btn rounded-0 mt-1 mb-3 bg-blue text-white btn-small hover-red">
                    <span class="icon">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </span>
                    <span>My Orders</span>
                </a>
                {% else %}
                <a href="{% url 'home' %}" class="btn rounded-0 mt-1 mb-3 bg-blue text-white btn-small hover-red">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Home</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
