#profile-form .form-control  {
    border-radius: 0 !important;
    border: solid 1px #000 !important;
}
.profile-order-card {
    border-radius: 0 !important;
}
img.order-history-image {
    width: 50% !important;
}
.order-detail .btn {
    padding: 5px 8px; 
}
.order-list {
    max-height:300px;
    overflow-x:hidden;
    overflow-y: auto;
}
@media (max-width: 425px) {
    img.order-history-image {
        width: 200% !important;
        padding-right: 10px;
    }
    .line-line-image {
        width: 150%;
    }
    .order-number {
        font-size: 88%;
    }
    .product-name {
        font-size: 75%;
    }
    .grand-total {
        font-size: 70%;
    }
}

