#profile-form .form-control  {
    border-radius: 0 !important;
    border: 1px solid #12375a;
}

.profile-order-card {
    border-radius: 0 !important;
}

img.order-history-image {
    width: 50% !important;
}

.order-detail .btn {
    padding: 5px 8px; 
}

.order-list {
    max-height:300px;
    overflow-x:hidden;
    overflow-y: auto;
}

/*-----------------------media queries*/

@media (min-width: 991px) {
.order-detail {
    padding-right: 65px;
    }
}

@media (max-width: 768px) {
    .user-info {
        font-size: 85%;
    }
    .profile-btn {
        font-size: 80%;
    }
}

@media (max-width: 425px) {
    img.order-history-image {
        width: 200% !important;
        padding-right: 10px;
    }
    .line-line-image {
        width: 175% !important;
    }
    .order-number {
        font-size: 85%;
    }
    .product-name {
        font-size: 75%;
    }
    .grand-total {
        font-size: 70%;
    }
    .my-profile-form {
        padding-left: 15px !important;
        padding-right: 15px !important;        
    }

    .my-profile-user {
        padding-left: 30px !important;
        padding-right: 30px !important;     
    }

    .delivery-heading {
        padding-left: 15px !important;
    }

    .user-info {
        font-size: 100%;
    }

    .update-btn {
        font-size: 85%;
    }

    .order-date {
        font-size: 90%;
    }

    .profile-btn {
        font-size: 75%;
    }
}

