html {
    height: 100%;
}
body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fafafa;
    font-family: 'Ubunto', sans-serif;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.font-do-hyeon {
    font-family: 'Do Hyeon', sans-serif
}
.font-ubunto {
    font-family: 'Ubunto', sans-serif
}
.border-black {
    border: 1px solid black !important;
}
.header-container {
        padding-top: 170px;
    }
.slogan-width {
    max-width: 600px;
}
.buy-button {
    background-color: #e84610 !important;
}
@media (max-width: 991px) {
    .header-container {
        padding-top: 250px;
    }
    .slogan-font-size {
        font-size: 1.8rem;
        padding: 0 .5rem 0 .7rem;
    }
    .buy-button {
    margin-left: .7rem;
}
    .mobile-font-size {
    font-size: 1.4rem;
    }
    .nav-link {
        padding: 0.15rem;
    }
}