{% extends 'base.html' %} 
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="font-do-hyeon">Products</h2>
            <hr class="bg-light" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 d-flex md-justify-content-end">
            <div class="my-3 ml-auto category-btn">
                <a href="{% url 'products' %}?category=mens_wear" class="font-do-hyeon text-white md-p-2 mx-2 text-decoration-none category-btn">
                    Men
                </a>
                <a href="{% url 'products' %}?category=womens_wear" class="font-do-hyeon text-white md-p-2 mx-2 text-decoration-none category-btn">
                    Women
                </a>
                <a href="{% url 'products' %}?category=exercise_accessories" class="font-do-hyeon text-white md-p-2 mx-2 text-decoration-none category-btn">
                    Accessories
                </a>
            </div>
        </div>
        
            <div class="col-12 col-sm-6">   
                <div class="w-50 my-3">
                    <select id="sort-select" class="custom-select custom-select-sm rounded-0 border border-{% if sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reser" {% if sorting == 'name_asc' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    </select>
                </div>
            </div>       
    </div>
    <div class="row">
        {% for merchandise in products %}
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card h-50 border-0">
                {% if merchandise.image %}
                <a href="{% url 'product_detail' merchandise.id %}">
                    <img class="card-img-top img-fluid" src="{{ merchandise.image.url }}" alt="{{ merchandise.name }}" />
                </a>
                {% else %}
                <a href="{% url 'product_detail' merchandise.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ merchandise.name }}" />
                </a>
                {% endif %}
                <div class="card-body text-left">
                    <p class="text-white">{{ merchandise.name }}</p>
                </div>
                <div class="card-footer border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead font-weight-bold text-left text-white pt-3">${{ merchandise.price }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<button class="btn rounded-0 bg-black text-white font-do-hyeon" onclick="topFunction()" id="btn-top" title="Go to top">Top</button>
{% endblock %}

{% block postloadjs %}
<!-- JS/JQ to make select sorting functional -->
<script type="text/javascript">
        $('#sort-select').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
        
// JS for bottom to top button
var buttonTop = document.getElementById("btn-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    buttonTop.style.display = "block";
  } else {
    buttonTop.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{% endblock %}
