<div class="row">
            <div class="col-md-4">
                <p class="footer-items text-blue mt-3">
                    Copyright
                    <i class="fa fa-copyright" aria-hidden="true"></i> 2020 MSS
                </p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col footer-links">
                        <ul class="list-inline social-media-links mt-3">
                            <li class="col-2 col-md-3 list-inline-item">
                                <a href="#" class="text-blue" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> <span class="sr-only">Facebook</span></a>
                            </li>
                            <li class="col-2 col-md-3 list-inline-item">
                                <a href="#" class="text-blue" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="sr-only">Linkedin</span></a>
                            </li>
                            <li class="col-2 col-md-3 list-inline-item">
                                <a href="#" class="text-blue" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> <span class="sr-only">Youtube</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>