<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-do-hyeon font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}">
               <h4 class="mobile-font-size">Home</h4>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-do-hyeon font-weight-bold nav-link text-white mr-5" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <h4 class="mobile-font-size">Merchandise</h4>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-do-hyeon font-weight-bold nav-link text-white mr-5" href="{% url 'exercises' %}">
              <h4 class="mobile-font-size">Fitness Plans</h4>
            </a>
        </li>

        <li class="nav-item">
            <a class="font-do-hyeon font-weight-bold nav-link text-white mr-5" href="{% url 'nutritions' %}">
               <h4 class="mobile-font-size">Nutrition Plans</h4>
            </a>
        </li>
    </ul>
</div>