<li class="list-inline-item font-do-hyeon">
    <a class="text-blue nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search" aria-hidden="true"></i></div>
            <p class="my-0 mobile-font-size">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-0 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-blue rounded-0" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control form-control btn border border-blue rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown font-do-hyeon">
    <a class="text-blue nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="far fa-user" aria-hidden="true"></i></div>
            <p class="my-0 mobile-font-size">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 bg-light mobile-font-size" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item text-blue">Merchandise Admin</a>
                <a href="{% url 'add_exercise' %}" class="dropdown-item text-blue">Exercise Admin</a>
                <a href="{% url 'add_nutrition' %}" class="dropdown-item text-blue">Nutrition Admin</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item text-blue">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item text-blue">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item text-blue">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item text-blue">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if total %}text-primary font-weight-bold{% else %}text-blue{% endif %} nav-link d-block d-lg-none" href="{% url 'view_cart' %}">
        <div class="text-center ">
            <div><i class="fa fa-shopping-basket" aria-hidden="true"></i></div>
            <p class="my-0 mobile-font-size">
                {% if total %}
                    €{{ total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>
