/*
    Source for the following css is: https://stripe.com/docs/stripe-js
    It is to style the 
*/
.StripeElement,
#card-element {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #000;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #000;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@media (max-width: 375px) {
    .order-form-text {
        font-size: 75%;
    }
    .order-summary {
        font-size: 70%;
    }
    .order-form-btn {
        padding-left: 6px !important;
        padding-right: 6px !important;
        font-size: 75%;
    }
    .order-font {
        font-size: 85%;
    }
}
.order-summary {
    max-height:400px;
    overflow-x:hidden;
    overflow-y: auto;
} 
#order-payment-form .form-control {
    border-radius: 0px !important;
    border: 1px solid #000;
}
.order-summary-item {
    padding-left: 45px;
}
