/*
    Source for the following css is: https://stripe.com/docs/stripe-js 
*/
.StripeElement,
#card-element {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #12375a;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0  0 0 0.2rem rgba(0,123,255,.25);
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.order-summary {
    max-height:400px;
    overflow-x:hidden;
    overflow-y: auto;
} 
#order-payment-form .form-control {
    border-radius: 0px !important;
    border: 1px solid #12375a;;
}
.order-summary-item {
    padding-left: 45px;
}
/*----------------------loading overlay & spinner icon
Source: Boutique ado project
*/
#loader-overlay {
	display: none;
	position: fixed;
    background: rgba(39, 40, 41, 0.85);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.icon-spinner {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

/*-------------------------media queries*/

@media (max-width: 768px) {
    .save-info-size {
        font-size: 85%;
    }
    .order-form-btn {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .order-form-text {
        font-size: 75%;
    }
    .order-summary {
        font-size: 70%;
    }
    .order-form-btn {
        padding-left: 6px !important;
        padding-right: 6px !important;
        font-size: 72%;
    }
    .order-font {
        font-size: 85%;
    }
}

@media (max-width: 320px) {
    .save-info-size {
        font-size: 70%;
    }
    .StripeElement, #card-element {
        height: 30px;
        padding: 8px 12px;
    }
}