<div class="toast rounded-0 ml-3" data-autohide="false">
    <div class="bg-info toast-cap"></div>
    <div class="toast-header text-blue">
        <strong class="mr-auto font-do-hyeon"><i class="fas fa-info-circle"></i> Info</strong>
        <button type="button" class="ml-2 mb-0 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col font-ubunto text-blue">
                {{ message }}
            </div>
        </div>
    </div>
</div>